body{
    width: 100vw;
    height: auto; 
}
header{
    width: 100vw;
    height: 10vh; 
}
header > nav {
    width: 100vw;
    height: 10vh; 
}
header > nav > .nav-center{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-style: bolder; 
    background-color: whitesmoke;
}
.nav-links{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-links>li{
    margin-left: 10px;
}
main{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
main>.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 10px;
}